{{ if (.Params.comments | default true) }}
    <script type="text/javascript" src="https://latest.cactus.chat/cactus.js"></script>
    <link rel="stylesheet" href="https://latest.cactus.chat/style.css" type="text/css">
    <div id="comment-section"></div>
    <script>
    initComments({
      node: document.getElementById("comment-section"),
      defaultHomeserverUrl: "https://matrix.cactus.chat:8448",
      serverName: "cactus.chat",
      siteName: "linuxgamingcentral.com",
      commentSectionId: '{{ replace (printf "%s--%s" .File.BaseFileName .File.UniqueID) "_" "-" }}'
    })
    </script>
{{ end }}
